.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 5px;
  /* borrowed from online, will edit later */
    position: relative;
    height: 80px;
    background-image: linear-gradient(#2fffce, rgb(86, 182, 189));
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 calc(100% - 5vw)
    );
    /* change the calc height to a percentage height to get alternate responsive behavior*/
  }


nav p, nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  margin-top: 5px;
}

nav p:hover {
  color: rgb(230, 230, 230);
}

nav a:first-child {
  margin-left: 5px;
}
