.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav {
  background-color: rgb(86, 182, 189);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 40px;
  margin-bottom: 5px;
}

nav p, nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  margin-top: 5px;
}

nav p:hover {
  color: rgb(230, 230, 230);
}

nav a:first-child {
  margin-left: 5px;
}
